name: build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      contents: write
      pull-requests: write
      actions: write
    steps:
      - name: Check out source code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version-file: go.mod

      - name: Run go mod tidy for lint
        run: go mod tidy

      - name: Run lint
        uses: reviewdog/action-golangci-lint@v2
        with:
          fail_level: warning
          go_version-file: go.mod

      - name: Run gostyle
        uses: k1LoW/gostyle-action@v1
        with:
          config-file: .gostyle.yml
          fail-on-error: true

      - name: Run tests
        run: make ci

      - name: Run octocov
        uses: k1LoW/octocov-action@v1
